In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("trial.db")

In [6]:
conn.execute('''create table if not exists users
             (id integer primary key,
             name text,
             surname,
             phone text)
''')

In [9]:
conn.execute("insert into users (name,surname,phone) values (?,?,?)",
             ("robert","de niro","201905")
            )
conn.commit()

In [10]:
conn.execute("insert into users (name,surname,phone) values (?,?,?)",
             ("al","pacino","201905")
            )
conn.commit()

In [11]:
conn.execute("insert into users (name,surname,phone) values (?,?,?)",
             ("tom ","hanks","234223")
            )
conn.commit()

In [12]:
conn.execute("insert into users (name,surname,phone) values (?,?,?)",
             ("john","goodman","444444")
            )
conn.commit()

In [27]:
cursor = conn.execute("select * from users")

In [28]:
for value in cursor :
    print("id",value[0])
    print("name",value[1])
    print("surname",value[2])
    print("phone",value[3])
    print("---------")

id 1
name robert
surname de niro
phone 201905
---------
id 2
name al
surname pacino
phone 201905
---------
id 3
name tom
surname hanks
phone 234223
---------
id 4
name john
surname goodman
phone 444444
---------

In [32]:
conn.execute("update users set phone = '13579' where id = 2 ")
conn.commit()

In [34]:
conn.execute("delete from users where id = ?",(3,))
conn.commit()

In [35]:
conn.close()